.Table {
	display: flex;
	flex-direction: column;
	position: relative;
	overflow-x: hidden;
	font-size: 0.9rem;
	margin: 0.5rem;
}
@media (max-width: 500px) {
	.Table {
		overflow-x: auto;
		overflow-y: hidden;
	}
}
