.Head {
	height: 46px;
	color: white;
	border-bottom: 1px solid #ccc;
	background-color: #fec200;
	border-radius: 0.5rem;
	padding: 0 10px;
	font-size: 14px;
}

.HeadRow {
	font-weight: 700;
	display: flex;
	flex-flow: row nowrap;
	text-transform: uppercase;
	margin-right: 30px;
}

.HeadRowItem {
	text-align: center;
	font-family: "Montserrat", sans-serif;
	display: flex;
	flex-flow: row wrap;
	flex: 1 0 20%;
	padding: 7px;
	overflow: hidden;
	min-width: 0px;
}

.Head .HeadRow .HeadRowItem {
	flex-grow: 1 !important;
}
