.Head {
	display: flex;
	flex: 0 0 auto;
	height: 46px;
	color: white;
	border-bottom: 1px solid #ccc;
	background-color: #fec200;
	padding: 0 10px;
	font-size: 12px;
}

.HeadRow {
	display: flex;
	flex: 1 1 auto;
	text-transform: uppercase;
	align-items: center;
}
.HeadRowItem {
	box-sizing: border-box;
	display: flex;
	width: 200px;
	text-transform: uppercase;
	align-items: center;
	padding: 10px;
}
