.Body {
	display: flex;
	flex-direction: column;
	flex: 0 0 auto;
	padding: 0 5px;
}
.BodyRow {
	display: flex;
	flex-direction: row;
	flex: 1 1 auto;
	padding: 0 5px;
	border-bottom: 1px solid #eee;
}
.BodyRowItem {
	box-sizing: border-box;
	display: flex;
	height: auto;
	flex: 1 0 200px;
	align-items: center;
	justify-content: flex-start;
	padding: 10px 10px;
	font-size: 14px;
	text-overflow: ellipsis;
}

.BookNr {
	text-decoration: none;
	color: #9e2c37;
	padding: 0 5px;
	border-left: 2px solid black;
}

.BookNr:first-child {
	border-left: 0;
}

.BookNr:hover {
	color: #f4b00c;
}
