.Body {
	display: flex;
	flex-direction: column;
	flex: 0 0 auto;
	padding: 0 5px;
	overflow-y: auto;
	overflow-x: hidden;
	height: 60vh;
}
.BodyRow {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	border-bottom: 1px solid #d0d0d0;
}
.BodyRowItem {
	display: flex;
	flex-flow: row wrap;
	flex: 1 0 25%;
	padding: 0.5em;
	overflow: hidden;
	text-overflow: ellipsis;
	min-width: 0px;
}

.BodyRow:last-child {
	overflow-wrap: break-word;
}

.BookNr {
	text-decoration: none;
	color: #9e2c37;
	padding: 0 5px;
	height: 1.2rem;
	border-left: 2px solid black;
}

.BookNr:first-child {
	border-left: 0;
}
.BookTitle {
	text-decoration: none;
	color: #9e2c37;
	padding: 0 5px;
}

.BookNr:hover,
.BookTitle:hover {
	color: #f4b00c;
}
